[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE JavaScript -%]
<script type="text/javascript">
<!--
kivi.PartsWarehouse.initWarehouse([%- WAREHOUSE_FILTER %]);
[%- IF WAREHOUSE_FILTER %]
[%- WH_INDEX = 0 %]
[%- ELSE %]
[%- WH_INDEX = 1 %]
[%- END %]
[%- USE WAREHOUSES_it = Iterator(WAREHOUSES) %][%- FOREACH warehouse = WAREHOUSES_it %]
kivi.PartsWarehouse.addWarehouse([% warehouse.id %],[%- WAREHOUSE_FILTER %]);
[% USE BINS_it = Iterator(warehouse.BINS) %][% FOREACH bin = BINS_it %]
kivi.PartsWarehouse.addBin([% bin.id %],"[% JavaScript.escape(bin.description) %]");
[%- END %]
[%- END %]

$(function() {
  kivi.PartsWarehouse.warehouseChanged([% warehouse_id %], [% bin_id %]);
})
-->
</script>
